@model Pinturería_Acuarela.Models.ViewModels.Businesses.DetailsViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Sucursales";
}

<link href="~/lib/css-chart/css-chart.css" rel="stylesheet">
<link href="~/css/cards.css" rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="~/lib/c3-master/c3.min.css" rel="stylesheet">
<!-- Vector CSS -->
<link href="~/lib/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

<!-- Data table -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Sucursales</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Businesses" asp-action="Index">Sucursales</a></li>
                <li class="breadcrumb-item active">Detalles</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <h1 class="text-center">@Model.Business.Address</h1>
    <hr />
    <div class="row justify-content-center">
        <a href="/Businesses/StocklessProducts/@Model.Business.ID" class="data-card">
            <h3>@Model.StocklessProducts</h3>
            <h4>Productos sin stock</h4>
            <span class="link-text">
                Ver los productos
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD" />
                </svg>
            </span>
        </a>
        <a href="/Businesses/StockAlertProducts/@Model.Business.ID" class="data-card">
            <h3>@Model.StockAlertProducts</h3>
            <h4>Productos con bajo stock</h4>
            <span class="link-text">
                Ver los productos
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD" />
                </svg>
            </span>
        </a>
        <a href="/Businesses/BusinessOrders/@Model.Business.ID" class="data-card">
            <h3>@Model.PendingOrders</h3>
            <h4>Pedidos sin confirmar</h4>
            <span class="link-text">
                Ver detalles
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD" />
                </svg>
            </span>
        </a>
        <a href="/Businesses/Stock/@Model.Business.ID" class="data-card">
            <h3>@Model.TotalProducts</h3>
            <h4>Productos</h4>
            <span class="link-text">
                Ver detalles
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD" />
                </svg>
            </span>
        </a>
        <div class="data-card">
            <h3>@Model.TotalLiters</h3>
            <h4>Litros</h4>
            <p>
                Cantidad de litros sumando todos los productos de la sucursal
            </p>
        </div>
    </div>
</div>