@model Pinturería_Acuarela.Models.ViewModels.Brands.IndexViewModel

@{
    ViewData["Title"] = "Marcas";
}

<!-- Data table -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Marcas</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Marcas</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Modal -->
    <div id="modalCreate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div id="formContainer" class="modal-dialog">
            <form role="form" class="" method="POST" asp-area="" asp-controller="Brands" asp-action="Create" id="form-create" autocomplete="off">
                <input type="hidden" name="CreateViewModel.ID" value="" />
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                        <button type="button" class="close" id="btnCloseModalCreate" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.Name" class="mb-0 required"></label>
                                        <input asp-for="CreateViewModel.Name" class="form-control" required />
                                        <span asp-validation-for="CreateViewModel.Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button id="btnSendModal" type="button" class="btn btn-success waves-effect waves-light">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h2 class="card-title">Listado de marcas</h2>
                        <button id="btnAdd" type="button" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal" data-target="#modalCreate">Agregar marca</button>
                    </div>
                    <div class="table-responsive m-t-10">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Habilitada</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (var item in Model.Brands)
                                {
                                    <tr data-id="@item.ID">
                                        <td>
                                            @Html.DisplayFor(c => item.Name)
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.IsActive)
                                                {
                                                    <i class="bi bi-check2" style="font-size: 1.5rem"></i>
                                                }
                                                else
                                                {
                                                    <i class="bi bi-x-lg" style="font-size: 1.3rem"></i>
                                                }
                                            }
                                        </td>
                                        <td class='d-flex flex-row justify-content-center'>
                                            <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='edit(@Json.Serialize(item))' data-toggle="modal" data-target="#modalCreate"><i class="bi bi-pencil"></i></button>
                                            <button type='button' class='btn @(item.IsActive ? "btn-danger" : "btn-info") btn-rounded btn-sm ml-2' onclick='changeState(@item.ID, "@item.IsActive")'><i class='bi @(item.IsActive ? "bi-toggle-on" : "bi-toggle-off")'></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <form id="form-state" method="POST" asp-area="" asp-controller="Brands" asp-action="ChangeState">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fillTable(item) {
        let active = "";
        let btn = "";
        if (item.isActive) {
            active = `<i class="bi bi-check2" style="font-size: 1.5rem"></i>`;
            btn = `<button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='changeState(${item.id}, "${item.isActive}")'><i class='bi bi-toggle-on'></i></button>`;
        } else {
            active = `<i class="bi bi-x-lg" style="font-size: 1.3rem"></i>`;
            btn = `<button type='button' class='btn btn-info btn-rounded btn-sm ml-2' onclick='changeState(${item.id}, "${item.isActive}")'><i class='bi bi-toggle-off'></i></button>`;
        }
        let content = `
            <tr data-id='${item.id}'>
                <td>${item.name}</td>
                <td class='text-center'>${active}</td>
                <td class='d-flex flex-row justify-content-center'>
                    <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='edit(${JSON.stringify(item)})' data-toggle="modal" data-target="#modalCreate"><i class="bi bi-pencil"></i></button>
                    ${btn}
                </td>
            </tr>`;
        $('#DataTable').DataTable().row.add($(content)).draw();
    }

    function removeFromTable(id) {
        $('#DataTable').DataTable().row(`[data-id="${id}"]`).remove().draw();
    }

    function changeState(id, isActive) {
        let title = "";
        if (isActive === "True" || isActive === "true") {
            title = "¿Seguro deseas dar de baja esta marca?";
        } else {
            title = "¿Seguro deseas dar de alta esta marca?";
        }
        Swal.fire({
            title: title,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Confirmar',
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-warning waves-effect waves-light px-3 py-2',
                cancelButton: 'btn btn-default waves-effect waves-light px-3 py-2'
            }
        })
            .then((result) => {
                if (result.isConfirmed) {
                    $("#form-state input[name='id']").val(id);
                    sendForm("state");
                }
            });
    }

    function sendForm(action) {
        let form = document.getElementById(`form-${action}`);

        let errors = $(".input-validation-error");

        if (errors.length === 0) {
            // Enviar solicitud AJAX
            $.ajax({
                url: $(form).attr('action'), // Utiliza la ruta del formulario
                method: $(form).attr('method'), // Utiliza el método del formulario
                data: $(form).serialize(), // Utiliza los datos del formulario
                success: function (response) {
                    $("#btnCloseModalCreate").click();
                    Swal.fire({
                        icon: 'success',
                        title: response.message,
                        confirmButtonColor: '#1e88e5',
                    });
                    if (action === 'create') {
                        fillTable(response.data);
                    } else {
                        removeFromTable(response.data.id);
                        fillTable(response.data);
                    }
                },
                error: function (errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: errorThrown.responseJSON.title,
                        text: errorThrown.responseJSON.message,
                        confirmButtonColor: '#1e88e5',
                    });
                }
            });
        }
    }
</script>

<script>
    $("#btnSendModal").on("click", function () {
        if ($("#formContainer form").attr('id') === 'form-create') {
            sendForm("create");
        } else if ($("#formContainer form").attr('id') === 'form-edit') {
            sendForm("edit");
        }
    });
    $("#btnAdd").on("click", function () {
        $("#modalTitle").text("Agregar marca");
        $("#formContainer form").attr("action", "/Brands/Create");
        $("#formContainer form").attr("id", "form-create");
        $("#formContainer form input:not([type='hidden']").val("");
        $("input[name='CreateViewModel.ID']").prop("disabled", true);
        $("#btnSendModal").text("Agregar");
    });

    function edit(entity) {
        $("#formContainer form input:not([type='hidden']").val("");
        $("input[name='CreateViewModel.ID']").val(entity.id);
        $("input[name='CreateViewModel.ID']").prop("disabled", false);

        $("#modalTitle").text("Editar marca");
        $("#formContainer form").attr("action", "/Brands/Edit");
        $("#formContainer form").attr("id", "form-edit");
        $("#btnSendModal").text("Confirmar");

        $("input[name='CreateViewModel.Name']").val(entity.name);
    }

    $('#DataTable').DataTable({
        "language": {
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ marcas",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 marcas",
            "sInfoFiltered": "(filtrado de _MAX_ marcas en total)",
            "emptyTable": 'No hay marcas que coincidan con la búsqueda',
            "sLengthMenu": "Mostrar _MENU_ marcas",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
        },
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>